%h1 My CV
.row
  .col-lg-6
    %img.img-thumbnail{src:'/assets/me.png'}
  .col-lg-6
    %h3 Rui Cheng
    %label.line-field
      %small Present occupation
    %span Software developer at 
    %a{href:'http://www.ryarc.com/'} Ryarc Technology Limited
  
    %label.line-field
      %small Education
    %abbr{title:'Master of Information Technology'} MIT
    %span from
    %a{href:'http://www.unsw.edu.au/'} University of New South Wales

%section.cv
  %header
    %img{src:'/assets/documents.png'} Summary
  %p
    Hi, there!
    
%section.cv
  %header
    %img{src:'/assets/briefcase.png'} Experiences
    
%section.cv
  %header
    %img{src:'/assets/education.png'} Education
    
%section.cv
  %header
    %img{src:'/assets/tools.png'} Skills
    
%section.cv
  %header
    %img{src:'/assets/globe.png'} Laguages

