%h1 My CV
.row
  .col-lg-6
    %img.img-thumbnail{src:'/assets/me.png'}
  .col-lg-6
    %h3 Rui Cheng
    %label.line-field
      %small Present occupation
    %span Software developer at 
    %a{href:'http://www.ryarc.com'} Ryarc Technology Limited
  
    %label.line-field
      %small Education
    %abbr{title:'Master of Information Technology'} MIT
    %span from
    %a{href:'http://www.unsw.edu.au'} University of New South Wales
    
    %label.line-field
      %small Quick tour
    %a{href:'#/cv#summary'} Summary
    %span
      |
    %a{href:'#/cv#experiences'} Experiences
    %span
      |
    %a{href:'#/cv#education'} Education
    %span
      |
    %a{href:'#/cv#skills'} Skills
    %span
      |
    %a{href:'#/cv#languages'} Languages

%section.cv#summary
  %header
    %img{src:'/assets/documents.png'} Summary
  %p
    I first developed my interest in programming during my 3rd college-year. We were learing a database
    course and one day I asked my teacher: 'We are learning database, but what how should we make use
    of it?' The teacher said to me that you not only need database but also you need to write a program
    to collaborate with it. 'What program can do that?', I asked. He said maybe you can start with Delphi
    or .NET.
  %p
    So I really get started with programming, first Delphi, then VB.NET, and then C#. Such early years'
    experience in college was just child play, but it did unlock
    my passion on programming, which played a key role in my later
    decision of choosing computer science as my major for postgraduate study in Australia.
  %p
    After 2-year learning period in UNSW, I was fully convinced that programming would 
    be my future career, and I would not live without it. I'm always interested in all kinds of 
    programming knowledge and fond of learing them. This website, is just built based on my skills of
    programming.
    
%section.cv#experiences
  %header
    %img{src:'/assets/briefcase.png'} Experiences
  .sub-title
    %a{href:'http://www.ryarc.com'}
      %strong Ryarc Technology Limited
    %em Aug 2010 – Present (Full-time)
  %p
    Ryarc is a company which develops digital signage software. Our main product is 
    CampaignManager (CM). I began my career in this company as a member in   
    the development team working on version 3. By the year 2013, CM has advanced to version
    6, to which, at the time of writing this, I've contributed my enery, knowledge and skills 
    for 3 years since 2010. 
  %p
    My main contribution (by far) to the product includes:
    %ul
      %li 
        Several key modules such as Schedule, Searching, History, Upgrader, Task etc.
      %li
        CM-related products such as 
        %a{href:'https://play.google.com/store/search?q=ryarc&hl=en'} RyarcMobile
        and DEUS
      %li
        Bug fixing
      %li
        Code refactoring and optimization
      %li
        Build process design, scripting, optimization, etc.
      %li
        Software localization
  .sub-title
    %strong Mapdata Interface
    %em Nov 2008 – Jun 2010 (Part-time)
  %p
    During the time in this company, my 2 primary duties were:
    %ul
      %li 
        Working as a web developer who assisted the company 
        to maintain an ASP.NET application named Bizcard (v2) and was also responsible for 
        implementing new features for it.
      %li
        Using MS SQL Server to generate car sales analysis reports, as well as map visual
        reports, which helps car dealers to better recognize their potential market and customers.
    
%section.cv#education
  %header
    %img{src:'/assets/education.png'} Education
  .sub-title
    %a{href:'http://www.unsw.edu.au'}
      %strong University of New South Wales
  %p
    %label Degree 
    Master of Information Technology
  %p
    %label Academic Performance
    Distinction
  %p
    %label Core Courses
    %ul
      %li
        Programming foundation in C
      %li
        Computer science foundation
      %li
        Data structure
      %li
        Database foundation
      %li
        Web application development
      %li
        Human computer interaction design
      %li
        Networking programming
        
%section.cv#skills
  %header
    %img{src:'/assets/tools.png'} Skills
  I believe I'm a fast learner in terms of programming and my reading ability is sufficient
  for me to quickly go through an IT book and grasp its gist. More importantly, I love reading
  books in IT scope. Therefore, even though my daily job mostly relates to .NET platform, I
  spent my laid-back time learning as much non-dot-net knowledge as I can absorb. So here's
  the profle of my current skills at the time of writing.
  .sub-title
    %strong Languages (statically-typed)
  %ul
    %li
      C#
    %li
      Java
    %li
      C 
      %small (not brilliant at it, but at least understand basic stuff)
    %li
      Delphi 
      %small 
        (well, honestly, I don't remember much because I self-learned it during college 
        years and never had a chance to use it since graduation)
          
  .sub-title
    %strong Languages (dynamically-typed)
  %ul
    %li
      PHP
    %li
      JavaScript
    %li
      Ruby
    %li
      CoffeeScript
      %small (strictly speaking, it's still JavaScript in the end)
      
  .sub-title
    %strong Desktop (Windows)
  %ul
    %li
      WPF
    %li
      MVVM 
      %small (familar frameworks includes Caliburn.Micro, MVVMLight)
    %li
      Windows service
        
  .sub-title
    %strong Web (back-end)
  %ul
    %li
      PHP
      %small (most familiar framework: Laravel)
    %li
      Ruby on Rails
    %li
      Sinatra
    %li
      ASP.NET WebForm
    %li
      ASP.NET MVC
        
  .sub-title
    %strong Web (front-end)
  %ul
    %li
      HTML
    %li
      jQuery
    %li
      KnockoutJS
    %li
      AngularJS
    %li
      CSS 
      %small (not brilliant as designers, but at least understand basic stuff)
    %li
      SASS
    %li
      LESS
        
  .sub-title
    %strong Database
  %ul
    %li
      MS SQL Server
    %li
      MySQL
    %li
      SQLite
    %li
      MongoDB
   
  .sub-title
    %strong Version Control
  %ul
    %li
      Git
    %li
      TFS
    
%section.cv#languages
  %header
    %img{src:'/assets/globe.png'} Laguages
  .sub-title
    %strong English
  .sub-title
    %strong Chinese

