.jumbotron
  %h1
    Be nerdy, be proud
  %p
    Welcome to my website pal. I built this just because I love programming.
    So, while others spent time writing their resumes by MS word, I thought maybe
    I'd just put a personal site online so people could just know me by simply cliking
    on the 'spam' link that I'd send to them. How cool is that huh? Anyway, welcome
    and take a look around.
  
.row
  .col-lg-6
    %a{href: '#/about_me'}
      %h2 About me
    %p
      I am a mortal and more...
    %img{src: '/assets/wanted.jpg', class: 'portal img-thumbnail'}
  .col-lg-6
    %a{href:"#"}
      %h2 My occupation
    %p
      I'm a programmer and more...
    %img{src: '/assets/suitcase.png', class: 'portal img-thumbnail'}
.row
  .col-lg-6
    %a{href:"#"}
      %h2 My CV
    %p
      If you're HR manager, please read more...
    %img{src: '/assets/cv.jpg', class: 'portal img-thumbnail'}