.jumbotron
  %h1
    Be nerdy, be proud
  %p
    Welcome to my website pal. I built this just because I love programming.
    So, while others spent time writing their resumes by MS word, I thought maybe
    I'd just put a personal site online so people could just know me by simply cliking
    on the 'spam' link that I'd send to them. How cool is that huh? Anyway, welcome
    and take a look around.
  
.row
  .col-lg-6
    %a{href:'#/cv'}
      %h2 My CV
    %p
      HR manager? please
      %a{href:'#/cv'} read more...
    %img{src: '/assets/cv.jpg', class: 'portal img-thumbnail'}