%h1 Message board
%form.post-widget{role:'form'}
  %textarea.form-control
  .well.clearfix
    %button.btn.btn-primary.pull-right Post
          
.row.message
  .col-lg-12
    .avatar
      %a{href:'#'}
        %img.img-rounded{src:'http://placehold.it/58x58', alt:'user'}
    .text
      .head
        rui
        %time <em>a minute ago</em>
      .body
        good stuff aweg awhawh awe arja ekrtk rtkawg awehawe awjawjr
        good stuff aweg awhawh awe arja ekrtk rtkawg awehawe awjawjr
        good stuff aweg awhawh awe arja ekrtk rtkawg awehawe awjawjr
        good stuff aweg awhawh awe arja ekrtk rtkawg awehawe awjawjr
        good stuff aweg awhawh awe arja ekrtk rtkawg awehawe awjawjr
        good stuff aweg awhawh awe arja ekrtk rtkawg awehawe awjawjr
        good stuff aweg awhawh awe arja ekrtk rtkawg awehawe awjawjr
        good stuff aweg awhawh awe arja ekrtk rtkawg awehawe awjawjr
        
.row.message
  .col-lg-12
    .avatar
      %a{href:'#'}
        %img.img-rounded{src:'http://placehold.it/58x58', alt:'user'}
    .text
      .head
        rui
        %time <em>a minute ago</em>
      .body
        good stuff aweg awhawh awe arja ekrtk rtkawg awehawe awjawjr
        good stuff aweg awhawh awe arja ekrtk rtkawg awehawe awjawjr

        
            