@import "mixins";

body {
  padding-top: 70px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

footer {
  margin-top: 20px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

img {
  &.portal {
    width: 256px;
    height: 219px;
  }
}

.message {
  .avatar {
    float:left;
    img {
      width:58px;
      max-width:58px;
      padding:2px;
      margin-right:10px;
    }
  }
  .text {
    .head {
      font-weight:bold;
      time {
        font-weight:normal;
        float:right;
        color:gray;
      }
    }
    .body {
      
    }
  }
  margin-bottom:20px;
}

.post-widget {
  textarea {
    resize:vertical;
    height:75px;
    border-radius: 4px 4px 0px 0px;
    
  }
  .well {
    border-radius: 0px 0px 4px 4px;
    padding: 5px;
    @include box-shadow(none);
    input[type=text], input[type=email] {
      margin-bottom: 5px;
    }
  }
}

.error {
  color: red;
}

.ng-valid.ng-dirty { 
  border-color: #468847;
}

.ng-invalid.ng-dirty {
  border-color: #b94a48; 
}